
/* ==========================================================================
  Header
   ========================================================================== */

header .container{
  position:relative;
}

.banner { 
  height:146px;
  background:#fff;
  margin:0;
  border-bottom:1px solid $gray-light;

  .navbar-collapse{
    float:right;
    clear:right;
    margin-top:60px;
    border:0;
    padding:0;

    .navbar-nav{
      float:right;
      padding:0;

      > li{
        margin:0 25px 0 0;

        a{
          color:$gray;
          text-transform:uppercase;
          padding:0;
          font-weight:700;
          font-size:14px;
          line-height:inherit;

          &.dropdown-toggle{

            .caret{
              display:none;
            }
          }

          &:hover{
            color:$gray-darker;
          }
        }

        &.active > a{
          color:$gray-darker;
          background:none;
        }

        &.open > a{
          background:none;
        }

        &.mobile{
          display:none;
        }

        .dropdown-menu{
          padding:12px 0;

          li {
            a {
              text-align:left;
              padding: 0 10px;
              color:$gray;

              &:hover{
                background:none;
                color:$gray-darker;
              }
            }

            &.active a{
              color:$gray-darker;
              background:none;
            }
          }
        }
      }
    }
  }

  .navbar-header{
    display:block;
    margin-top:40px;

    .navbar-brand{
      @include hide-text();
      background: url("../img/icons/logo.png") no-repeat;
      @include background-size(174px 62px);
      display:block;
      width:174px;
      height:62px;
      padding:0;
      max-height:62px;
      margin:0;
    }
  }

  .search-form{
    margin-left:-20px;
    margin-top:52px;
    position:relative;

    .form-control{
      @include border-radius(0);
      @include box-shadow(none);
      font-size:12px;
      line-height:18px;
      color:$gray;
      font-style:italic;
      padding:6px 35px 6px 12px;
      border:1px solid #ccc;

      &:focus{
        border:1px solid #ccc;
      }
    }

    .input-group-btn{
      position:absolute;
      right:13px;
      top:13px;
      width:15px;
      height:14px;

      .btn{
        background: url('../img/icons/magnifying_glass.png') no-repeat left top;
        width:15px;
        height:14px;
        border:0;
        padding:0;
        margin:0;
        outline:0;
        text-indent:-999999px;
        display:block;
      }
    }
  }
}

.cart-link{
  position:absolute;
  right:10px;
  top:5px;
  line-height:18px;

  a {
    font-weight:300;
    font-size:11px;
    color:$gray-darker;
    text-decoration:none;

    span{
      color:$gray-dark;
    }
  }
}
